{% extends 'usuarios/base.html' %}

{% block section %}
{% if form.errors %}

{% endif %}

<div class="field">
  <label for="{{form.password.id_for_label}}" class="label">
    {{form.password.label}}
  </label>
  {{ form.password }}
  <span class="error">{{ form.password.errors}}</span>
</div>
<div class="field">
  <label for="{{form.new_password.id_for_label}}" class="label">
    {{form.new_password.label}}
  </label>
  {{ form.new_password }}
  <span class="error">{{ form.new_password.errors}}</span>
</div>
<div class="field">
  <label for="{{form.repeat_password.id_for_label}}" class="label">
    {{form.repeat_password.label}}
  </label>
  {{ form.repeat_password }}
  <span class="error">{{ form.repeat_password.errors}}</span>
</div>
<input type="submit" value="Solicitar registeo">
<div class="footer">
  <a href="{% url 'login' %}">Iniciar sessão</a>
</div>

{% endblock %}

{% block content %}

<div class="card-body">
  <p class="login-box-msg">
    Você está a apenas um passo de sua nova senha, recupere sua senha agora.
  </p>
  <form method="post"> {% csrf_token %}
    <div class="input-group mb-3">
      {{ form.password }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      {{ form.repeat_password }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">Trocar de senha</button>
      </div>
      <!-- /.col -->
    </div>
  </form>

  <p class="mt-3 mb-1">
    <a href="{% url 'login' %}">Login</a>
  </p>
</div>
<!-- /.login-card-body -->




{% endblock %}