{% extends 'usuarios/base.html' %}

{% block content %}

<div class="card-body">
  <p class="login-box-msg">Registar um novo membro</p>
  {{ form.errors }}
  <form method="post" id="form-register"> {% csrf_token %}
    <div class="input-group mb-3">
      {{ form.first_name }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-user"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      {{ form.last_name }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-user"></span>
        </div>
      </div>
    </div>
    {% if form.email.errors %}
    <div class="text-danger">
      {{ form.email.errors }}
    </div>
    {% endif %}
    <div class="input-group mb-3">
      {{ form.email }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>


    <div class="input-group mb-3">
      {{ form.phone_number }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-phone"></span>
        </div>
      </div>
    </div>

    <div class="input-group mb-3">
      {{ form.password }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      {{ form.repeat_password }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="icheck-primary">
          <input type="checkbox" id="agreeTerms" name="terms" value="agree">
          <label for="agreeTerms">
            Aceito os <a href="#">termos</a>
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </div>
      <!-- /.col -->
    </div>
  </form>

  <a href="{% url 'login' %}" class="text-center">Eu já tenho um registro</a>
</div>
<!-- /.form-box -->

{% endblock %}

{% block footer %}

<script>
  $(function () {
    $('#form-register').validate({
      rules: {
        first_name: {
          rangelength: [3, 50]
        },
        last_name: {
          rangelength: [3, 50]
        },
        email: {
          required: true,
          email: true,
        },
        password: {
          required: true,
          minlength: 5
        },
        repeat_password: {
          required: false,
          equalTo: "#id_password"
        },

      },
      messages: {
        first_name: {
          required: "Por favor informe seu primeiro nome",
          rangelength: "Seu nome deve ter no minimo 3 e maxímo 50 caracters"
        },
        last_name: {
          required: "Por favor informe seu ultimo nome",
          rangelength: "Seu último nome deve ter no minimo 3 e maxímo 50 caracters"
        },
        email: {
          required: "Por favor informe um endereço de email",
          email: "Please enter a valid email address"
        },
        password: {
          required: "Por favor forneça uma senha",
          minlength: "Sua senha deve ter pelo menos 5 caracters"
        },
        repeat_password: {
          equalTo: "Senha não confirma, corrija e tente novamente."
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.input-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
  });
</script>

{% endblock %}