{% extends "usuarios/base.html" %}

{% block section%}
<div class="field">
    <label for="{{form.address_line_1.id_for_label}}" class="label">
        {{form.address_line_1.label}}
    </label>
    {{ form.address_line_1 }}
    <span class="error">{{ form.address_line_1.errors}}</span>
</div>
<div class="field">
    <label for="{{form.address_line_2.id_for_label}}" class="label">
        {{form.address_line_2.label}}
    </label>
    {{ form.address_line_2 }}
    <span class="error">{{ form.address_line_2.errors}}</span>
</div>
<div class="field">
    <label for="{{form.country.id_for_label}}" class="label">
        {{form.country.label}}
    </label>
    {{ form.country }}
    <span class="error">{{ form.country.errors}}</span>
</div>
<div class="field">
    <label for="{{form.state.id_for_label}}" class="label">
        {{form.state.label}}
    </label>
    {{ form.state }}
    <span class="error">{{ form.state.errors}}</span>
</div>
<div class="field">
    <label for="{{form.city.id_for_label}}" class="label">
        {{form.city.label}}
    </label>
    {{ form.city }}
    <span class="error">{{ form.city.errors}}</span>
</div>
<div class="field">
    <label for="{{form.pin_code.id_for_label}}" class="label">
        {{form.pin_code.label}}
    </label>
    {{ form.pin_code }}
    <span class="error">{{ form.pin_code.errors}}</span>
</div>
<div class="field">
    <label for="{{form.latitude.id_for_label}}" class="label">
        {{form.latitude.label}}
    </label>
    {{ form.latitude }}
    <span class="error">{{ form.latitude.errors}}</span>
</div>
<div class="field">
    <label for="{{form.longitude.id_for_label}}" class="label">
        {{form.longitude.label}}
    </label>
    {{ form.longitude }}
    <span class="error">{{ form.longitude.errors}}</span>
</div>
<div class="field">
    <label for="{{form.profile_picture.id_for_label}}" class="label">
        {{form.profile_picture.label}}
    </label>
    {{ form.profile_picture }}
    <span class="error">{{ form.profile_picture.errors}}</span>
</div>
<div class="field">
    <label for="{{form.cover_photo.id_for_label}}" class="label">
        {{form.cover_photo.label}}
    </label>
    {{ form.cover_photo }}
    <span class="error">{{ form.cover_photo.errors}}</span>
</div>

<input type="submit" value="Atualizar">
<div class="footer">
    <a href="#">?</a>
</div>

{% endblock %}