{% extends "usuarios/base.html" %}

{% block section%}
<div class="field">
  <label for="{{form.email.id_for_label}}" class="label">
    {{form.email.label}}
  </label>
  {{ form.email }}
  <span class="error">{{ form.email.errors}}</span>
</div>
<input type="submit" value="Solicitar recuperação">
<div class="footer">
  <a href="{% url 'login' %}">Iniciar sessão.</a>
</div>

{% endblock %}

{% block content %}
<div class="card-body">
  <p class="login-box-msg">
    Você esqueceu sua senha? Aqui você pode facilmente recuperar uma nova senha.
  </p>

  <form method="post"> {% csrf_token %}
    <div class="input-group mb-3">
      {{ form.email }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>
    <span class="error">{{ form.email.errors}}</span>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">Solicitar nova senha</button>
      </div>
      <!-- /.col -->
    </div>
  </form>
  <p class="mt-3 mb-1">
    <a href="{% url 'login' %}">Login</a>
  </p>
</div>
<!-- /.login-card-body -->
{% endblock %}